Repository alexlafroscia/d_ui: changes, and which lint-staged commands are due for each by the changed paths.
All: deno fmt, deno lint

fix off-by-one error when rendering to a view
  lib/view.ts
  run.ts
  test/matrix/lens.test.ts
  test/view.test.ts
Due: deno fmt, deno lint

better Matrix module organization
  lib/backend/backend.ts
  lib/backend/memory.ts
  lib/matrix.ts
  lib/matrix/lens.ts
  lib/matrix/matrix-like.ts
  lib/matrix/matrix.ts
  lib/matrix/mod.ts
  lib/matrix/point.ts
  lib/screen.ts
  lib/view.ts
  test/matrix/lens.test.ts
  test/matrix/matrix.test.ts
  test/view.test.ts
Due: deno fmt, deno lint

update input processing system
  lib/events.ts
  lib/events/ascii.ts
  lib/events/event.ts
  lib/events/mod.ts
  lib/events/stream.ts
  lib/mod.ts
  run.ts
  test/events/stream.ts
Due: deno fmt, deno lint

upgrade to latest Deno in CI
  .github/workflows/ci.yml
Due: none

better organization of example scripts
  examples/run.ts
  examples/setup-log.ts
Due: deno fmt, deno lint

move "raw mode" management into `eventStream`
  lib/backend/stdout.ts
  lib/events/stream.ts
  test/backend/stdout.test.ts
  test/events/stream.test.ts
  test/events/stream.ts
Due: deno fmt, deno lint

remove inaccurate comment
  lib/events/stream.ts
Due: deno fmt, deno lint

improve widget system, add some tests
  examples/run.ts
  lib/view.ts
  lib/widgets/mod.ts
  lib/widgets/text.ts
  test/view.test.ts
  test/widgets/text.test.ts
Due: deno fmt, deno lint

configure VSCode settings
  .vscode/launch.json
  .vscode/settings.json
Due: none

create widget for handling text input
  examples/run.ts
  lib/mod.ts
  lib/widgets/input.ts
  test/widgets/input.test.ts
Due: deno fmt, deno lint

replace Deno.setRaw in test
  test/events/stream.test.ts
Due: deno fmt, deno lint

make Backend#cleanup optional
  lib/backend/backend.ts
  lib/screen.ts
Due: deno fmt, deno lint

remove redundant properties from MemoryBackend
  lib/backend/memory.ts
Due: deno fmt, deno lint

better naming of Matrix constructor args
  lib/matrix/matrix.ts
Due: deno fmt, deno lint

move `view` into directory
  lib/mod.ts
  lib/screen.ts
  lib/view/mod.ts
  lib/view/view.ts
  test/view/view.test.ts
Due: deno fmt, deno lint

change the API around splitting views
  README.md
  examples/run.ts
  lib/mod.ts
  lib/view/mod.ts
  lib/view/split/column.ts
  lib/view/split/partition.ts
  lib/view/split/row.ts
  lib/view/view.ts
  test/view/split/column.test.ts
  test/view/split/partition.test.ts
  test/view/split/row.test.ts
  test/view/view.test.ts
Due: deno fmt, deno lint

rep-export all of view module
  lib/mod.ts
Due: deno fmt, deno lint

create test helper file
  test/backend/stdout.test.ts
  test/events/stream.test.ts
  test/helpers.ts
  test/matrix/lens.test.ts
  test/matrix/matrix.test.ts
  test/screen.test.ts
  test/view/split/column.test.ts
  test/view/split/partition.test.ts
  test/view/split/row.test.ts
  test/view/view.test.ts
  test/widgets/input.test.ts
  test/widgets/text.test.ts
Due: deno fmt, deno lint

add `Inset` class
  examples/run.ts
  lib/mod.ts
  lib/view/inset.ts
  lib/view/mod.ts
  lib/view/view.ts
  test/view/inset.test.ts
Due: deno fmt, deno lint

update VSCode format-on-save config
  .vscode/settings.json
Due: none

remove `to` and `from` from `MatrixLike`
  lib/matrix/lens.ts
  lib/matrix/matrix-like.ts
  lib/matrix/matrix.ts
  lib/view/inset.ts
  lib/view/view.ts
  test/matrix/lens.test.ts
Due: deno fmt, deno lint

add a basic `List` widget
  examples/run.ts
  lib/mod.ts
  lib/widgets/list.ts
  test/widgets/list.test.ts
Due: deno fmt, deno lint

export all widgets from module
  lib/mod.ts
  lib/widgets/input.ts
  lib/widgets/list.ts
  lib/widgets/mod.ts
  lib/widgets/text.ts
  lib/widgets/widget.ts
Due: deno fmt, deno lint

move the `WriteToScreen` definition
  lib/screen.ts
  lib/widgets/input.ts
  lib/widgets/list.ts
  lib/widgets/text.ts
  lib/widgets/widget.ts
Due: deno fmt, deno lint

update color system
  lib/backend/writer.ts
  lib/cell.ts
  lib/color/color.ts
  lib/color/mod.ts
  lib/color/rgb.ts
  lib/color/standard.ts
  lib/view/view.ts
  lib/widgets/list.ts
  test/helpers.ts
  test/widgets/list.test.ts
Due: deno fmt, deno lint

update debug launcher name
  .vscode/launch.json
Due: none

write full list rows
  lib/widgets/list.ts
  test/widgets/list.test.ts
Due: deno fmt, deno lint

improve widget/view api
  examples/run.ts
  lib/view/view.ts
  lib/widgets/input.ts
  lib/widgets/list.ts
  lib/widgets/mod.ts
  lib/widgets/text.ts
  lib/widgets/widget.ts
  test/view/inset.test.ts
  test/view/split/column.test.ts
  test/view/split/row.test.ts
  test/view/view.test.ts
  test/widgets/input.test.ts
  test/widgets/list.test.ts
  test/widgets/text.test.ts
Due: deno fmt, deno lint

move Cell class location
  lib/backend/backend.ts
  lib/backend/memory.ts
  lib/backend/writer.ts
  lib/mod.ts
  lib/renderable/cell.ts
  lib/renderable/mod.ts
  lib/screen.ts
  lib/view/view.ts
  lib/widgets/list.ts
  lib/widgets/widget.ts
  test/helpers.ts
  test/widgets/list.test.ts
Due: deno fmt, deno lint

update deno/vscode settings
  .vscode/settings.json
Due: none

update Draw API
  lib/mod.ts
  lib/view/view.ts
  lib/widgets/mod.ts
  test/helpers.ts
  test/widgets/input.test.ts
  test/widgets/list.test.ts
  test/widgets/text.test.ts
Due: deno fmt, deno lint

add row-rendering API
  lib/renderable/mod.ts
  lib/renderable/row.ts
  lib/view/view.ts
  lib/widgets/widget.ts
  test/view/view.test.ts
Due: deno fmt, deno lint

update List widget to write by row
  lib/widgets/list.ts
  test/widgets/list.test.ts
Due: deno fmt, deno lint

add readme symlink for deno.land/x/
  lib/README.md
Due: deno fmt

swap readme and link position
  README.md
  lib/README.md
Due: deno fmt

add README badges
  lib/README.md
Due: deno fmt

update deno.land lib url
  lib/README.md
Due: deno fmt

chore(ci): use latest deno version
  .github/workflows/ci.yml
Due: none

better control over List usage and rendering
  lib/widgets/list.ts
  test/widgets/list.test.ts
Due: deno fmt, deno lint

use latest Deno standard library
  test/events/stream.test.ts
  test/helpers.ts
Due: deno fmt, deno lint

Path conditions:
  deno fmt: (any of: *.md) or (any of: *.ts)
  deno lint: any of: *.ts
