Repository alexlafroscia/d_ui: changes, and which lint-staged commands are due for each by the changed paths.
All: deno fmt, deno lint

.lintstagedrc:

{
  "*.md": ["deno fmt"],
  "*.ts": ["deno fmt", "deno lint"]
}

allow screen to handle `CTRL-C` input
  examples/input.tsx
  lib/reducers/exit.test.ts
  lib/reducers/exit.ts
  lib/reducers/mod.ts
  lib/screen.test.tsx
  lib/screen.ts
Due: deno fmt, deno lint

ensure TS files are formatted by Deno
  .vscode/settings.json
Due: none

adapt to updated `setRaw` API
  lib/events/source/stdin.test.ts
  lib/events/source/stdin.ts
Due: deno fmt, deno lint

re-export variables causing test failures
  lib/mod.ts
Due: deno fmt, deno lint

add tests for `withRange`
  lib/matrix/matrix-like.test.ts
  lib/matrix/matrix-like.ts
Due: deno fmt, deno lint

fix abstract property bug in Deno 1.26
  lib/backend/backend.ts
  lib/matrix/matrix-like.ts
Due: deno fmt, deno lint

use Deno 1.26 in CI
  .github/workflows/ci.yml
Due: none

fix lint errors on Deno 1.26
  examples/input.tsx
Due: none

upgrade logger to latest standard library version
  examples/run.tsx
  examples/setup-log.ts
  lib/events/parse.ts
  lib/events/source/stdin.ts
  lib/screen.ts
  lib/view/split/columns.ts
  lib/view/split/rows.ts
Due: deno fmt, deno lint

expose `Point` type
  lib/mod.ts
Due: deno fmt, deno lint

set up better logging infrastructure
  examples/setup-log.ts
  lib/events/parse.ts
  lib/logger.ts
  lib/screen.ts
  lib/utils/streams.ts
  lib/view/split/columns.ts
  lib/view/split/rows.ts
Due: deno fmt, deno lint

expose event stream
  lib/screen.test.tsx
  lib/screen.ts
  test/helpers.ts
Due: deno fmt, deno lint

add option to exit after cleanup
  lib/screen.test.tsx
  lib/screen.ts
Due: deno fmt, deno lint

use deno@1.39.0 in CI
  .github/workflows/ci.yml
Due: none

use `WritableStream` instead of `Writer`
  deno.lock
  lib/backend/mod.ts
  lib/backend/stdout.ts
  lib/backend/writable-stream.ts
  lib/utils/streams.ts
  test/backend/stdout.test.ts
  test/backend/writable-stream.test.ts
  test/utils/streams.test.ts
Due: deno fmt, deno lint

update event emission to avoid errors
  deno.lock
  examples/input.tsx
  examples/redux.tsx
  examples/run.tsx
  lib/events/source/stdin.ts
  lib/events/source/tick.test.ts
  lib/events/source/tick.ts
  lib/screen.test.tsx
  lib/screen.ts
  lib/utils/async-iter.test.ts
  lib/utils/async-iter.ts
  test/helpers.ts
Due: deno fmt, deno lint

add task for each example
  deno.jsonc
  deno.lock
Due: none

update README example to use `using`
  lib/README.md
Due: deno fmt

update checkout action
  .github/workflows/ci.yml
Due: none

add comment about explicit exit code
  lib/screen.ts
Due: deno fmt, deno lint

ignore example logs
  .gitignore
Due: none

use logger infrastructure, upgrade implementation
  deno.lock
  examples/run.tsx
  examples/setup-log.ts
  lib/events/source/stdin.ts
  lib/logger.ts
Due: deno fmt, deno lint
