Repository alexlafroscia/d_ui: changes, and which lint-staged commands are due for each by the changed paths.
All: deno fmt, deno lint

.lintstagedrc:

{
  "*.md": ["deno fmt"],
  "*.ts": ["deno fmt", "deno lint"]
}

parse arrow key events
  examples/events.ts
  lib/events/ansi.ts
  lib/events/event.ts
  lib/events/parse.ts
  lib/events/stream.ts
  test/events/parse.test.ts
  test/events/stream.test.ts
Due: deno fmt, deno lint

add event handler interface
  lib/widgets/event-handler.ts
  lib/widgets/input.ts
  lib/widgets/list.ts
  lib/widgets/mod.ts
  test/widgets/event-handler.test.ts
Due: deno fmt, deno lint

update kitchen-sink example
  examples/run.ts
Due: deno fmt, deno lint

handle clearing an input widget
  lib/widgets/input.ts
  test/widgets/input.test.ts
Due: deno fmt, deno lint

expose Input content as a string
  lib/widgets/input.ts
  test/widgets/input.test.ts
Due: deno fmt, deno lint

support changing text widget content
  examples/run.ts
  lib/widgets/text.ts
  test/screen.test.ts
  test/widgets/text.test.ts
Due: deno fmt, deno lint

reset cursor when clearing input
  lib/widgets/input.ts
  test/widgets/input.test.ts
Due: deno fmt, deno lint

make the List widget abstract
  examples/run.ts
  lib/widgets/list/list.ts
  lib/widgets/list/string.ts
  lib/widgets/mod.ts
  test/widgets/list/list.test.ts
Due: deno fmt, deno lint

Fixes typo in README.md
  lib/README.md
Due: deno fmt

chore: add deno config to mark project root
  deno.jsonc
Due: none

add $schema to enable auto-complete
  deno.jsonc
Due: none

read events using `iterateReader`
  lib/events/stream.ts
Due: deno fmt, deno lint

make `Screen` accept options object
  lib/screen.ts
  test/screen.test.ts
Due: deno fmt, deno lint

add EventSource abstraction
  examples/run.ts
  lib/event-source/event-source.ts
  lib/event-source/manual.test.ts
  lib/event-source/manual.ts
  lib/event-source/mod.ts
  lib/event-source/stdin.test.ts
  lib/event-source/stdin.ts
  lib/events/stream.ts
  lib/screen.ts
  test/events/stream.test.ts
  test/screen.test.ts
Due: deno fmt, deno lint

Refactor reading from STDIN
  lib/event-source/byte-stream.test.ts
  lib/event-source/mod.ts
  lib/event-source/stdin.ts
  lib/events/mod.ts
  lib/events/stream.ts
  lib/mod.ts
Due: deno fmt, deno lint

ensure EventSource is cleaned up with Screen
  lib/backend/backend.ts
  lib/screen.ts
  test/screen.test.ts
Due: deno fmt, deno lint

upgrade `mock` test dependency
  test/helpers.ts
Due: deno fmt, deno lint

upgrade `asserts` test dependency
  test/backend/stdout.test.ts
  test/helpers.ts
Due: deno fmt, deno lint

add `map` util for async iterables
  lib/utils/async-iter.test.ts
  lib/utils/async-iter.ts
Due: deno fmt, deno lint

Create event source for signals
  lib/event-source/mod.ts
  lib/event-source/signal.test.ts
  lib/event-source/signal.ts
  lib/events/event.ts
Due: deno fmt, deno lint

create event source for combining event sources
  lib/event-source/mod.ts
  lib/event-source/mux.test.ts
  lib/event-source/mux.ts
Due: deno fmt, deno lint

`Screen` should listen for SIGWINCH by default
  lib/screen.ts
Due: deno fmt, deno lint

update Deno version used in CI
  .github/workflows/ci.yml
Due: none

Add `InitEvent`
  lib/event-source/init.test.ts
  lib/event-source/init.ts
  lib/event-source/mod.ts
  lib/events/event.ts
  lib/screen.ts
Due: deno fmt, deno lint

import test utils through named modules
  deno.jsonc
  importmap.json
  lib/event-source/byte-stream.test.ts
  lib/event-source/init.test.ts
  lib/event-source/manual.test.ts
  lib/event-source/mux.test.ts
  lib/event-source/signal.test.ts
  lib/event-source/stdin.test.ts
  lib/utils/async-iter.test.ts
  test/backend/stdout.test.ts
  test/events/parse.test.ts
  test/helpers.ts
  test/matrix/lens.test.ts
  test/matrix/matrix.test.ts
  test/screen.test.ts
  test/view/inset.test.ts
  test/view/split/column.test.ts
  test/view/split/partition.test.ts
  test/view/split/row.test.ts
  test/view/view.test.ts
  test/widgets/event-handler.test.ts
  test/widgets/input.test.ts
  test/widgets/list/list.test.ts
  test/widgets/text.test.ts
Due: deno fmt, deno lint

always use `Point` with `Matrix` coordinates
  lib/backend/memory.ts
  lib/matrix/lens.test.ts
  lib/matrix/lens.ts
  lib/matrix/matrix-like.ts
  lib/matrix/matrix.test.ts
  lib/matrix/matrix.ts
  lib/view/view.ts
  lib/widgets/input.ts
  lib/widgets/text.ts
  test/view/inset.test.ts
  test/view/split/column.test.ts
  test/view/split/row.test.ts
  test/view/view.test.ts
Due: deno fmt, deno lint

Refactor toward JSX-based API
  deno.jsonc
  examples/run.ts
  examples/run.tsx
  importmap.json
  lib/drawable/drawable.ts
  lib/drawable/input.ts
  lib/drawable/mod.ts
  lib/drawable/text.test.ts
  lib/drawable/text.ts
  lib/jsx.ts
  lib/matrix/matrix-like.ts
  lib/mod.ts
  lib/screen.test.tsx
  lib/screen.ts
  lib/utils/iter.ts
  lib/view/inset.ts
  lib/view/mod.ts
  lib/view/split/column.ts
  lib/view/split/columns.test.ts
  lib/view/split/columns.ts
  lib/view/split/partition.test.ts
  lib/view/split/row.ts
  lib/view/split/rows.test.ts
  lib/view/split/rows.ts
  lib/view/view.test.ts
  lib/view/view.ts
  lib/widgets/event-handler.ts
  lib/widgets/list/list.ts
  lib/widgets/list/string.ts
  lib/widgets/mod.ts
  lib/widgets/widget.ts
  test/helpers.ts
  test/view/inset.test.ts
  test/view/split/column.test.ts
  test/view/split/row.test.ts
  test/view/view.test.ts
  test/widgets/event-handler.test.ts
  test/widgets/input.test.ts
  test/widgets/list/list.test.ts
  test/widgets/text.test.ts
Due: deno fmt, deno lint

Update README example to use the JSX API
  examples/readme.tsx
  lib/README.md
Due: deno fmt

fix formatting in README
  lib/README.md
Due: deno fmt

refactor EventSource to use streams
  lib/event-source/event-source.ts
  lib/event-source/init.ts
  lib/event-source/manual.ts
  lib/event-source/mod.ts
  lib/event-source/mux.test.ts
  lib/event-source/mux.ts
  lib/event-source/signal.ts
  lib/event-source/stdin.test.ts
  lib/event-source/stdin.ts
  lib/events/mod.ts
  lib/events/source/init.test.ts
  lib/events/source/init.ts
  lib/events/source/manual.test.ts
  lib/events/source/manual.ts
  lib/events/source/signal.test.ts
  lib/events/source/signal.ts
  lib/events/source/stdin.test.ts
  lib/events/source/stdin.ts
  lib/events/transform/uint8array-to-event.test.ts
  lib/events/transform/uint8array-to-event.ts
  lib/mod.ts
  lib/screen.test.tsx
  lib/screen.ts
  test/helpers.ts
Due: deno fmt, deno lint

remove unnecessary event example
  examples/events.ts
Due: deno fmt, deno lint

improve logging setup
  examples/run.tsx
  examples/setup-log.ts
  lib/events/parse.ts
  lib/screen.ts
  lib/view/split/columns.ts
  lib/view/split/rows.ts
Due: deno fmt, deno lint

restore STDIN to non-raw mode correctly
  lib/events/source/stdin.test.ts
  lib/events/source/stdin.ts
  lib/screen.ts
  lib/utils/streams.test.ts
  lib/utils/streams.ts
Due: deno fmt, deno lint

add example of using Redux for app state
  examples/redux.tsx
Due: none

configure cell color as a property
  lib/drawable/text.test.ts
  lib/drawable/text.ts
Due: deno fmt, deno lint

update import map
  deno.jsonc
  import_map.json
  importmap.json
Due: none

support iterating over matrix values
  lib/matrix/matrix.test.ts
  lib/matrix/matrix.ts
Due: deno fmt, deno lint

implement cell equality check
  lib/renderable/cell.test.ts
  lib/renderable/cell.ts
  lib/renderable/mod.ts
Due: deno fmt, deno lint

improve logic w/r/t writing empty cells between frames
  lib/backend/backend.ts
  lib/backend/memory.ts
  lib/drawable/text.test.ts
  lib/drawable/text.test.tsx
  lib/drawable/text.ts
  lib/renderable/cell.test.ts
  lib/renderable/cell.ts
  lib/renderable/mod.ts
  test/helpers.ts
Due: deno fmt, deno lint

add example for input
  examples/input.tsx
  lib/reducers/mod.ts
  lib/reducers/string.test.ts
  lib/reducers/string.ts
Due: deno fmt, deno lint
